@import "tailwindcss";

@theme {
  --color-primary: #1b2836;
  --color-secondary: #313f58;
  --color-primaryButton: #5c78b2;
}

:root {
  --bg-primary: #1b2836;
  --bg-secondary: #313f58;
  --bg-primaryButton: #5c78b2;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  color: #ececec;
}
